:root {
    --color-00: #000000;
    --color-01: #1c1c1c;
    --color-02: #242424;
    --color-03: #333333;
    --color-04: #575757;
    --color-05: #696969;
    --color-06: #7a7a7a;
    --color-07: #8f8f8f;
    --color-08: #a8a8a8;
    --color-09: #adadad;
}

.bg-00 { background-color: var(--color-00); }
.bg-01 { background-color: var(--color-01); }
.bg-02 { background-color: var(--color-02); }
.bg-03 { background-color: var(--color-03); }
.bg-04 { background-color: var(--color-04); }
.bg-05 { background-color: var(--color-05); }
.bg-06 { background-color: var(--color-06); }
.bg-07 { background-color: var(--color-07); }
.bg-08 { background-color: var(--color-08); }
.bg-09 { background-color: var(--color-09); }

.bold { font-weight: bold; }
.normal { font-weight: normal;}
.font-size-14 { font-size: 14px; }
.font-size-16 { font-size: 16px; }
.font-size-20 { font-size: 20px; }
.font-size-24 { font-size: 24px; }
.font-size-28 { font-size: 28px; }
.font-size-30 { font-size: 30px; }
.font-size-34 { font-size: 34px; }
.font-size-40 { font-size: 40px; }
.font-size-52 { font-size: 52px; }

.text-center { text-align: center; }

.px-6 { padding-left: 6px; padding-right: 6px;  }
.px-10 { padding-left: 10px; padding-right: 10px; }
.px-14 { padding-left: 14px; padding-right: 14px; }
.px-18 { padding-left: 18px; padding-right: 18px; }
.px-20 { padding-left: 20px; padding-right: 20px; }
.px-24 { padding-left: 24px; padding-right: 24px; }

.py-6 { padding-top: 6px; padding-bottom: 6px;  }
.py-10 { padding-top: 10px; padding-bottom: 10px; }
.py-14 { padding-top: 14px; padding-bottom: 14px; }
.py-18 { padding-top: 18px; padding-bottom: 18px; }
.py-20 { padding-top: 20px; padding-bottom: 20px; }
.py-24 { padding-top: 24px; padding-bottom: 24px; }
.py-24 { padding-top: 24px; padding-bottom: 24px; }

.flex { display: flex; }
.flex.column { flex-direction: column; }
.flex.justify-start { justify-content: flex-start; }
.flex.justify-center { justify-content: center; }
.flex.justify-end { justify-content: flex-end; }
.flex.justify-space-between { justify-content: space-between; }
.flex.align-start { align-items: flex-start; }
.flex.align-center { align-items: center; }
.flex.align-end { align-items: flex-end; }
.flex.wrap { flex-wrap: wrap;}

* {
    box-sizing: border-box;
}
body {
    color: #fff;
    font-family: 'Baloo Paaji 2', cursive;
}

button {
    background: transparent;
    border: none;
    color: #fff;
    display: block;
    padding: 12px 20px;
}

.navbar {
    width: 100%;
    height: 108.39px;
    padding: 0 20px;
}

.navbar .search {
    width: 350px;
    height: 56px;
}

.navbar ul li {
    padding: 16px 20px;
    margin: 0 10px;
}

.navbar .logo {
    width: 200px;
    height: 75px;
}

nav, h1, .main-article {
    border: 2px solid black !important;
}

main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    width: 420px;
    display: inline-block;
    line-height: 60px;
}

h1 span {
    padding: 0 15px;
    background: var(--color-00);
}

.row1 {
    height: 684.36px;
    background-color: brown;
}

.row2 {
    height: 644.77px;
    background-color: coral;
}

.article-picture{
    display: inline-block;
    width: 75.6px;
    height: 75.6px;
    background-color: crimson;
    margin-right: 15px;
}

.main-article p span {
    font-style: italic;
}

.main-article{
    padding: 210px 80px 146px;
}

.main-article .title {
    margin: 40px 0px;
}

.membership{
    background-color: darkcyan;
    padding: 20px 250px;
}

.big-picture{
    height: 322px; 
    background-color: darkorange;
    flex: 0 0 250px;
}

.list {
    margin-right: 100px;
    background-color: darkslategray;
    padding: 30px;
}

.membership li{
    padding: 20px 40px;
}

.list p {
    padding: 40px 20px;
}

.about-membership {
    width: 435px;
    height: 70px;
    background-color: green;
    margin-left: 40px;
    border: none;
    color: white;

}


.articles {
    display: grid;
    grid-template-columns: repeat(4, minmax(360px, 25%));
    padding-right: 30px;
}

.articles > * {
    padding: 26px;
}

.articles article h3 {
    padding: 20px;
}

.articles article p {
    margin-top: 20px;
    padding: 16px;
}

.articles .trymyui h4, .articles .trymyui p, .articles .trymyui-inner, .feature p {
    padding: 20px;
}

.articles .trymyui button, .feature button {
    margin: 20px 0;
    margin: 20px auto;
}

.feature {
    grid-column: auto / span 2;
    padding: 30px 50px;
}

.feature .feature-image {
    width: 250px;
    height: 290px;
    background: red;
}

.feature h4, .click h2 {
    margin: 30px 0;
    padding: 16px;
}

.links {
    margin: 50px 0;
}
.links > div {
    padding: 20px;
}

.click {
    padding: 50px;
}

.click p {
    max-width: 55vw;
    margin: 20px 0;
    padding: 20px;
}

.click .click-image {
    margin: 40px 0;
    width: 920px;
    height: 517px;
    background: red;
}